seire_tahavole_quran.rar

main.tex

/build
/dist
/.build-venv

/outputs

arasto_logic.tex

bahram_paper_english.docx

book_of_unity.docx 

Ensaan.docx

history_man_god.pptx

nezame_hooshman.DOCX

.pytest_tmp

.pytest_chche

__pycache__

tmp

nezame_hooshmand.DOCX
